<!--[if lt IE 9]>
script(src="libs/html5shiv/es5-shim.min.js")
script(src="libs/html5shiv/html5shiv.min.js")
script(src="libs/html5shiv/html5shiv-printshiv.min.js")
script(src="libs/respond/respond.min.js")
<![endif]-->

script(src="libs/jquery/jquery-1.11.2.min.js")
script(src="libs/modernizr/modernizr.js")
script(src="libs/bootstrap/js/bootstrap.min.js")
script(src="libs/freewall/freewall.js")
script(src="libs/magnific-popup/jquery.magnific-popup.min.js")
script(src="libs/nicescroll/jquery.nicescroll.min.js")
script(src="js/common.js")
